/*--------------------------------------------------------------------------------------------------------------------------------
CART PAGE
--------------------------------------------------------------------------------------------------------------------------------*/
.cart {
	padding-bottom: 116px;

	@include xl {
		padding-bottom: 125px;
	}
	@include sm {
		padding-bottom: 198px;
	}

	&_mytitle {
		padding-top: 31px;
		margin-bottom: 65px;
		text-align: center;

		@include xl {
			padding-top: 41px;
			margin-bottom: 56px;
		}
		@include sm {
			padding-top: 70px;
			margin-bottom: 98px;
		}
	}

	&-products {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 26px;

		margin-bottom: 69px;

		@include sm {
			gap: 28px;
		}
		.products-item {
			display: flex;
			border: 1px solid rgba(255, 255, 255, 0.1);
			padding: 21px 34px 21px 19px;

			@include sm {
				padding-right: 21px;
				padding-top: 19px;
				padding-bottom: 19px;
			}

			&_image {
				width: 152px;
				height: 152px;
				justify-self: flex-start;
				flex-shrink: 0;
				@include xl {
					width: 154px;
					height: 154px;
				}
				@media (max-width: 375px) {
					width: 100px;
					height: 100px;
				}
			}
			&_box {
				display: flex;
				flex-direction: row;
				width: 100%;
				@include md {
					flex-direction: column;
				}
			}
			&_content {
				display: block;
				flex-grow: 1;
				padding-inline: 30px;
				@include xl {
					padding-inline: 25px;
				}				

				@include xl {
					padding-inline: 23px;
				}

				h3 {
					font-family: var(--font-main);
					font-weight: 400;
					font-size: 16px;
					line-height: 133%;
					color: var(--color-white-gr);
					transition: all 0.3s ease-in-out;

					@include xl {
						font-size: 14px;
					}
					@media (max-width: 375px) {
						font-size: 13px;
					}
				}

				p {
					font-style: italic;
					font-weight: 400;
					font-size: 14px;
					color: var(--color-white-gr);
					transition: all 0.3s ease-in-out;

					@include xl {
						font-size: 12px;
					}
					padding-top: 3px;
				}
			}
			&_price {
				text-align: right;

				display: flex;
				flex-direction: column;
				justify-content: space-between;

				@include md {
					flex-direction: row;
					align-items: flex-end;
				}

				span {
					position: relative;
					display: block;
					font-family: var(--font-title);
					top: 5px;
					font-weight: 400;
					font-size: 24px;
					line-height: 133%;
					color: var(--color-white-gr);
					@include xl {
						font-size: 22px;
					}
					@include md {
						padding-left: 26px;
					}
				}
				.delete {
					font-weight: 400;
					font-size: 12px;
					line-height: 133%;
					text-transform: uppercase;
					color: var(--color-white-gr);
					transition: all 0.3s ease-in-out;

					@include xl {
						font-size: 10px;
					}
					// &:hover {
					// 	color: var(--color-hover);
					// }
				}
			}
		}
	}
	&-btn {
		text-align: center;
		@include xl {
			margin-bottom: 10px;
		}
	}
}
