/*--------------------------------------------------------------------------------------------------------------------------------
GLOBAL
--------------------------------------------------------------------------------------------------------------------------------*/
body {
	background-color: var(--color-bg);
}
.container {
	margin-inline: auto;

	@include xxl {
		max-inline-size: 1440px;
		padding-inline: 120px;
	}
	@include xl {
		max-inline-size: 1024px;
		padding-inline: 30px;
	}
	@include sm {
		max-inline-size: 440px;
		padding-inline: 15px;
	}
}
/*--------------------------------------------------------------------------------------------------------------------------------
BUTTONS
--------------------------------------------------------------------------------------------------------------------------------*/
.btn {
	border: 1px solid var(--color-white);
	padding: 8px 56px;
	color: var(--color-white);
	transition: all 0.3s ease-in-out;
	span {
		font-weight: 400;
		font-size: 14px;
		line-height: 133%;
		text-transform: uppercase;
		color: var(--color-white);
		transition: all 0.3s ease-in-out;
	}
	&:hover {
		border: 1px solid var(--color-hover);
		color: var(--color-hover);
		span {
			color: var(--color-hover);
		}
	}
}

/*--------------------------------------------------------------------------------------------------------------------------------
PRODUCT CARD
--------------------------------------------------------------------------------------------------------------------------------*/
.products {
	.gy-pro {
			--bs-gutter-y: 48px;
		}
	@include xl{
		.gy-pro {
			--bs-gutter-y: 54px;
		}
	}
	@include sm {
		.gy-pro {
			--bs-gutter-y: 40px;
		}
	}

	// Products 
	.gx-pro {
			--bs-gutter-x: 21px;
		}
	@include xl{
		.gx-pro {
			--bs-gutter-x: 17px;
		}
	}
	@include sm {
		.gx-pro {
			--bs-gutter-x: 16px;
		}
	}
}
.product-card {
	display: block;
	border: 1px solid rgba(255, 255, 255, 0.1);
	background: rgba(247, 247, 247, 0.11);
	padding: 20px;
	transform: scale(1);
	transition: transform 0.3s ease-in-out;
	height: 100%;

	@include sm {
		padding: 15px;
	}

	&:hover {
		transform: scale(1.02);
	}

	&_image {
		margin-bottom: 20px;
	}

	&_title {
		h3 {
			font-family: var(--font-main);
			font-weight: 400;
			font-size: 16px;
			line-height: 133%;
			color: rgba(255, 255, 255, 0.87) !important;

			@include xl {
				font-size: 14px;
			}

			@include lg {
				font-size: 12px;
			}
		}
	}

	&_desc {
		p {
			font-style: italic;
			font-weight: 400;
			font-size: 14px;
			color: rgba(255, 255, 255, 0.68);
			@include xl {
				font-size: 12px;
			}

			@include lg {
				font-size: 10px;
			}

			padding-top: 3px;
		}
	}

	&_price {
		span {
			display: block;
			font-family: var(--font-title);
			font-weight: 400;
			font-size: 24px;
			line-height: 133%;
			color: rgba(255, 255, 255, 0.87);
			@include xl {
				font-size: 22px;
			}
			@include lg {
				font-size: 20px;
			}

			padding-top: 3px;
		}
	}
}

/*--------------------------------------------------------------------------------------------------------------------------------
ACCORDION
--------------------------------------------------------------------------------------------------------------------------------*/
.accordion-btn {
	width: 15px;
	height: 15px;
	position: relative;
	border: none;
	background: none;
	cursor: pointer;

	margin-left: 10px;

	span {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 15px;
		height: 1px;
		background-color: var(--color-white);
		transform: translate(-50%, -50%);
		transition: transform 0.3s ease;
	}
	span:first-child {
		transform: translate(-50%, -50%) rotate(45deg);
	}
	span:last-child {
		transform: translate(-50%, -50%) rotate(135deg);
	}
	&.active span:first-child {
		transform: translate(-50%, -50%) rotate(0deg);
	}
	&.active span:last-child {
		transform: translate(-50%, -50%) rotate(0deg);
	}
}

.accordion-panel {
	margin-block: 0;
	overflow: hidden;
	transition: all 0.3s linear;
	p{
		padding-right: 30px;		
	}
}

/*--------------------------------------------------------------------------------------------------------------------------------

--------------------------------------------------------------------------------------------------------------------------------*/
