body {
	background-color: var(--color-bg);
}
.container {	
	margin-inline: auto;

	@include sm {
		max-inline-size: 440px;
		padding-inline: 15px;		
	}
	@include xl {
		max-inline-size: 1024px;
		padding-inline: 30px;		
	}
	@include xxl {
		max-inline-size: 1440px;
		padding-inline: 120px;					
	}
	
}
