/* -------------------------------------------------------------------------------------------------------------------------------------
HEADER
---------------------------------------------------------------------------------------------------------------------------------------*/
.header {
	padding-top: 37px;
	padding-bottom: 38px;

	@include xl {
		padding-top: 21px;
		padding-bottom: 21px;
	}

	max-inline-size: 1440px;
	margin-inline: auto;
	inline-size: 100%;

	// HEADER ROW
	&-row {	
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 20px;
	}

	// LOGO
	&-logo {
		position: relative;
		z-index: 1;
		display: block;
		min-width: 61px;
		width: 61px;
		height: 61px;
		flex-shrink: 1;

		@include sm {
			min-width: 52px;
			width: 52px;
			height: 52px;
		}
	}

	// HEADER MENU
	&-nav {
		flex-grow: 1;
		@include md {
			display: none;
		}

		ul {
			width: 100%;
			display: inline-flex;
			align-items: center;
			justify-content: flex-end;
			gap: 115px;

			@include xl{
				gap: 70px;
			}

			padding-right: 10px;

			li a {
				font-family: var(--font-title);
				font-weight: 600;
				font-size: 20px;
				line-height: 133%;
				text-transform: capitalize;
				color: var(--color-white);
				transition: all 0.3s ease-in-out;
				&:hover {
					color: var(--color-hover);
				}
			}
		}

		// MOBILE NAVIGATION OVERLAY
		&_mobile {
			position: fixed;

			left: 0;
			right: 0;

			top: -105%;
			bottom: 105%;

			overflow: hidden;
			background-color: rgb(0, 0, 0, 0.5);
			transition: all 1.2s ease-in-out;
			z-index: 10;

			touch-action: manipulation;

			@include md {
				&.show {
					top: 0;
					bottom: 0;
				}
			}

			// MOBILE NAVIGATION BODY
			.mobile {
				--adaptive-margin: 15px;

				transition: all 0.3s ease-in-out;				

				position: absolute;
				top: 53px;
				left: 0;
				right: 0;
				margin-left: auto;
				margin-right: auto;
				padding: 0 var(--adaptive-margin);

				// MENU TILE
				&-tile {
					position: relative;
					padding: 33px 46px 42px;
					backdrop-filter: blur(32px);
					background: rgba(0, 0, 0, 0.3);
					border: 1px solid rgba(255, 255, 255, 0.1);
					width: 100%;

					@include md {
						max-height: calc(100vh - 68px);
						overflow-y: auto;
						overflow-x: hidden;
					}

					// CLOSE BUTTON
					&_close {
						display: block;
						color: var(--color-white);
						margin-inline: auto;

						span {
							font-family: var(--font-title);
							font-style: italic;
							font-weight: 700;
							font-size: 36px;
							line-height: 133%;
							text-transform: capitalize;
						}

						margin-bottom: 39px;
					}

					// MENU LIST
					&_menu {
						li a {
							font-family: var(--font-title);
							font-style: italic;
							font-weight: 500;
							font-size: 32px;
							line-height: 133%;
							text-transform: capitalize;
							color: var(--color-white);
							transition: all 0.3s ease-in-out;

							&:hover {
								color: var(--color-hover);
							}
						}
						li:not(:last-child) {
							margin-bottom: 16px;
						}
					}

					// INFO LINES
					&_info {
						display: flex;
						justify-content: center;
						margin-top: 88px;
						p {
							font-family: var(--font-title);
							font-weight: 700;
							font-size: 22px;
							line-height: 133%;
							margin-bottom: 12px;
							span {
								font-family: var(--font-main);
								font-weight: 400;
								font-size: 18px;
								padding-left: 49px;
							}
						}
					}

					// SOCIAL ICONS
					&_social {
						display: flex;
						justify-content: center;

						margin-top: 33px;

						.social-box {
							display: inline-flex;
							gap: 18px;
							a {
								display: block;
								width: 35px;
								height: 35px;
							}
						}
					}
				}
			}
		}

		// BURGER BUTTON
		&_burger {
			position: relative;
			z-index: 1;
			display: none;

			flex-direction: column;
			width: 38px;
			min-height: 21px;		

			@include md {
				display: flex;
			}

			@media (max-width:440px){
				margin-right: 15px;
			}

			span {
				display: block;
				width: 100%;
				height: 2px;
				border: 1px solid var(--color-white);
				background-color: var(--color-white);
			}
			span:not(:last-child) {
				margin-bottom: 4px;
			}
		}
	}
}
