/*-------------------------------------------------------------------------------------------------------------------------------------
SECTION ANOUNCE
--------------------------------------------------------------------------------------------------------------------------------------*/
.main-anounce {
	position: relative;
	margin-inline: auto;

	margin-bottom: 50px;	
	@include xxl {
		padding-top: 225px;
		min-height: 701px;
		max-inline-size: 1410px;
	}
	@include xl {
		padding-top: 145px;
		max-inline-size: 962px;
		min-height: 617px;
		margin-bottom: 0px;
	}
	@include sm {
		padding-top: 170px;
		max-inline-size: 440px;
		min-height: 491px;
		margin-bottom: 70px;
	}
	@media (max-width: 410px) {
		padding-top: 160px;
	}

	&_image-desktop,
	&_image-tablet,
	&_image-mobile {
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: none;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 100% 0;
	}

	&_image-desktop {
		background-image: url("../../images/main-page/desktop-main.png");
		min-height: 701px;
		@media (min-width: 1200px) {
			display: block;
		}
	}

	&_image-tablet {
		background-image: url("../../images/main-page/tablet-main.png");
		min-height: 617px;
		@media (min-width: 576px) and (max-width: 1200px) {
			display: block;
		}
	}

	&_image-mobile {
		max-inline-size: 440px;
		min-inline-size: 360px;
		background-image: url("../../images/main-page/mobile-main.png");
		min-height: 491px;
		// background-size: 100%;
		transform: translateY(-100px);
		@media (min-width: 0px) and (max-width: 576px) {
			display: block;
		}
	}

	// ANOUNCE TITLE
	&_title {
		span {
			font-family: var(--font-title);
			font-weight: 700;
			font-size: 150px;
			line-height: 80%;

			@include xl {
				line-height: 90%;
				font-size: 120px;
			}

			@include sm {
				font-size: 96px;
			}

			@media (max-width: 410px) {
				font-size: 80px;
			}
			@media (max-width: 342px) {
				font-size: 72px;
			}
		}
	}

	// ANOUNCE DESCRIPTION
	&_description {
		margin-top: 64px;

		@include sm {
			margin-top: 32px;
		}

		p {
			font-family: var(--font-main);
			font-weight: 400;
			font-size: 14px;
			line-height: 133%;
			@include xl {
				font-size: 12px;
				line-height: auto;
			}

			margin-bottom: 24px;
		}
	}
	.justify-adaptive {
		justify-content: center;
		@include sm {
			justify-content: flex-end;
		}
	}
}

/*-------------------------------------------------------------------------------------------------------------------------------------
SECTION ABOUT
--------------------------------------------------------------------------------------------------------------------------------------*/
.main-about {
	padding-top: 75px;
	margin-bottom: 155px;

	@include xl {
		padding-top: 70px;
		margin-bottom: 145px;
	}

	@include sm {
		padding-top: 70px;
		margin-bottom: 145px;
	}

	&_mytitle i {
		@include sm {
			display: block;
			transform: translateX(-35px);
		}
	}

	&_image {
		padding-top: 63px;

		@include xl {
			padding-top: 63px;
		}
		@include sm {
			max-width: 162px;
		}
	}

	&_description {
		padding-top: 64px;
		@include xl {
			padding-top: 56px;
		}
		@include sm {
			padding-top: 41px;
			padding-left: 27.5%;
		}

		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		height: 100%;

		p:not(:last-child) {
			margin-bottom: 16px;
		}
	}

	.justify-adaptive {
		justify-content: center;
		@include sm {
			justify-content: flex-end;
		}
	}
}

/*-------------------------------------------------------------------------------------------------------------------------------------
SECTION BOUTIQUE
--------------------------------------------------------------------------------------------------------------------------------------*/
.main-boutique {
	padding-top: 12px;

	@include xl {
		padding-top: 15px;
	}
	@include sm {
		padding-top: 15px;
	}

	&_description {
		padding-top: 63px;
		margin-bottom: 44px;
		@include xl {
			padding-top: 67px;
			margin-bottom: 42px;
		}
		@include sm {
			padding-top: 63px;
			margin-bottom: 49px;
			padding-left: 27.5%;
		}
	}

	&_products-all {
		text-align: center;
		margin-top: 65px;

		@include xl {
			margin-top: 64px;
		}
		@media (max-width: 450px) {
			margin-top: 74px;
		}
	}
}

/*-------------------------------------------------------------------------------------------------------------------------------------
SECTION GALLERY
--------------------------------------------------------------------------------------------------------------------------------------*/
.main-gallery {
	padding-top: 167px;
	margin-bottom: 120px;

	@include xl {
		padding-top: 161px;
		margin-bottom: 110px;
	}

	@include sm {
		padding-top: 184px;
		margin-bottom: 100px;
	}

	&_grid {
		margin-top: 65px;

		@include sm {
			margin-top: 47px;
		}

		display: grid;
		grid-template-columns: 1fr 1fr 2fr 0;
		grid-template-rows: 1fr;
		grid-template-areas: "i1 i2 i3 i4";
		gap: 30px;

		.item-1 {
			grid-area: i1;
		}
		.item-2 {
			grid-area: i2;
		}
		.item-3 {
			transform: translateX(-10px);
			grid-area: i3;
		}
		.item-4 {
			grid-area: i4;
		}

		@include xl {
			gap: 15px;
			.item-3 {
				transform: translateX(0);
				padding-left: 37px;
			}
		}

		@include md {
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 1fr 1fr;
			grid-template-areas:
				"i1 i3"
				"i4 i2";
			gap: 21px;

			.item-3 {
				padding-left: 0;
			}

			.item-2,
			.item-4 {
				padding-top: 32px;
			}
		}

		@include sm {
			max-height: 660px;
			overflow-y: auto;
		}

		.adaptive-bottom {
			@include md {
				height: 100%;
				display: flex;
				align-items: flex-end;
			}
			@media (max-width: 420px) {
				align-items: flex-start;
				p {
					padding-top: 0;
				}
			}
		}
	}

	&_head {
		h4 {
			font-weight: 700;
			font-size: 24px;
			margin-bottom: 64px;

			@include xl {
				margin-bottom: 52px;
				font-size: 22px;
			}
			@include sm {
				font-size: 22px;
			}
		}
	}
	&_desc {
		p {
			line-height: 120%;
			margin-bottom: 32px;

			@include sm {
				margin-bottom: 24px;
			}
		}
		p.no-padding {
			margin-bottom: 0;
		}
	}

	&_more {
		text-align: center;
		margin-top: 67px;
		@include xl {
			margin-top: 68px;
		}
		@include sm {
			margin-top: 92px;
		}
	}
	.justify-adaptive {
		justify-content: center;
		@include sm {
			justify-content: flex-end;
		}
	}

	.transform-adaptive {
		@include sm {
			padding-left: 16px;
		}
	}
}

/*-------------------------------------------------------------------------------------------------------------------------------------
SECTION FAQ
--------------------------------------------------------------------------------------------------------------------------------------*/
.main-faq {
	padding-top: 34px;
	margin-bottom: 100px;

	@include xl {
		padding-top: 38px;
		margin-bottom: 100px;
	}
	@include sm {
		padding-top: 33px;
		margin-bottom: 100px;
	}
	&_mytitle {
		span {
			font-style: italic;
			font-weight: 700;
		}
		@include sm {
			text-align: center;
		}
	}
	&_accordions {
		padding-top: 60px;
		padding-inline: 0;

		@include xl {
			padding-inline: 60px;
		}
		@include sm {
			padding-top: 36px;
			padding-inline: 0;
		}
		h4 {
			display: flex;
			align-items: center;
			justify-content: space-between;

			font-weight: 700;
			font-size: 24px;

			@include xl {
				font-size: 18px;
			}
		}
		h4:not(:last-child) {
			margin-bottom: 16px;
		}

		p {
			margin-bottom: 32px;
		}

		.accordion-btn {
			position: relative;
			right: -50px;

			@include xl {
				right: inherit;
			}
			span {
				transition: all 0.3s ease-in-out;
			}
			&:hover {
				span {
					background-color: var(--color-hover);
				}
			}
		}
	}
}

/*-------------------------------------------------------------------------------------------------------------------------------------
SECTION CONTACTS
--------------------------------------------------------------------------------------------------------------------------------------*/
.main-contacts {
	padding-top: 74px;

	@include xl {
		padding-top: 30px;
	}

	@include sm {
		padding-top: 38px;
	}

	.justify-adaptive {
		justify-content: center;
		@include xl {
			justify-content: flex-end;
		}
	}

	&_mytitle {
		span {
			&.right {
				display: block;
				text-align: right;
			}
		}
	}

	&_form {
		input {
			min-height: 34px;
			padding-inline: 25px;
			width: 100%;
			background: rgba(217, 217, 217, 0.1);
			color: var(--color-white);

			margin-top: 56px;
			@include xl {
				margin-top: 59px;
			}
			@include sm {
				margin-top: 32px;
			}

			&::placeholder {
				font-family: var(--font-main);
				font-weight: 400;
				font-size: 14px;
				line-height: 133%;
				text-transform: capitalize;
				color: rgba(255, 255, 255, 0.5);
			}
		}
	}

	&_head {
		h2 {
			font-style: italic;
			font-weight: 700;
			font-size: 40px;

			margin-bottom: 38px;
			@include xl {
				margin-bottom: 60px;
				font-size: 36px;
			}
			@include md {
				text-align: center;

				margin-top: 139px;
				margin-bottom: 53px;
			}
		}
	}

	&_info {
		@include md {
			display: flex;
			justify-content: center;
		}
		p {
			font-family: var(--font-title);
			font-weight: 700;
			font-size: 22px;
			line-height: 133%;
			margin-bottom: 12px;
			span {
				font-family: var(--font-main);
				font-weight: 400;
				font-size: 18px;
				padding-left: 35px;
			}
		}
	}
	&_social {
		@include md {
			display: flex;
			justify-content: center;
		}
		.social-box {
			display: inline-flex;
			gap: 18px;
			margin-top: 34px;

			@include xl {
				margin-top: 36px;
			}
			@include md {
				margin-top: 55px;
			}
			a {
				display: block;
				width: 35px;
				height: 35px;
			}
		}
	}
}
