/*-------------------------------------------------------------------------------------------------------------------------------------
PAGE CONTAINER - FOR ALL PAGES FROM ADMIN
--------------------------------------------------------------------------------------------------------------------------------------*/
.page-container {
	padding-bottom: 116px;
	@include xl {
		padding-bottom: 121px;
	}
	@include sm {
		padding-bottom: 103px;
	}
	h1,
	h2 {
		text-align: center;
		padding-top: 38px;
		margin-bottom: 68px;
		@include xl {
			padding-top: 62px;
			margin-bottom: 62px;
		}
		@include sm {
			padding-top: 85px;
			margin-bottom: 103px;
		}
	}

    color: var(--color-white-gr);
}
