/* -------------------------------------------------------------------------------------------------------------------------
PAYMENT PAGE
---------------------------------------------------------------------------------------------------------------------------*/
.payment {
	margin-bottom: 116px;
	@include xl {
		margin-bottom: 129px;
	}
	@include sm {
		margin-bottom: 113px;
	}

	&_mytitle {
		padding-top: 31px;
		margin-bottom: 59px;
		text-align: center;

		@include xl {
			padding-top: 41px;
			margin-bottom: 58px;
		}
		@include sm {
			padding-top: 77px;
			margin-bottom: 68px;
		}
	}

	// Form
	&_form {
		padding-right: 10px;

		&-item {
			margin-bottom: 64px;
			&.margin-bottom-last {
				margin-bottom: 42px;
				@include md {
					margin-bottom: 68px;
				}
			}

			label {
				font-weight: 400;
				font-size: 14px;
				line-height: 133%;
				text-transform: capitalize;
				color: rgba(255, 255, 255, 0.5);
				@include xl {
					font-size: 12px;
				}

				&.inline-block {
					display: inline-block;
					padding-top: 10px;
					@include xl {
						padding-top: 15px;
					}
				}

				&.full-block {
					display: block;
					padding-top: 22px;
					margin-bottom: 10px;
					@include xl {
						padding-top: 26px;
					}
					@include sm {
						padding-top: 20px;
					}
				}
				&.small-top-padding {
					padding-top: 10px !important;
				}
			}

			input[type="text"],
			input[type="number"] {
				width: 100%;
				min-height: 34px;
				background: rgba(217, 217, 217, 0.1);
				padding-inline: 16px;
				color: var(--color-white);
			}
		}
		&-btn {
			text-align: center;
		}

		.shipment-padding {
			@include sm {
				padding-top: 0px;
				padding-bottom: 2px;
			}
		}
		.information-padding {
			@include sm {
				padding-top: 22px;
			}
		}

		.billing-padding {
			padding-left: 15px;
			@include sm {
				padding-top: 7px;
				padding-left: 0;
			}
		}
		/*--------------------------------------------------------------------------------------------------------------------------------
         PAYMENT PAGE - FORM CUSTOM LINES
          -------------------------------------------------------------------------------------------------------------------------------*/
		.shipment-line,
		.information-line1,
		.information-line2,
		.billing-line {
			display: grid;
		}
		.shipment-line,
		.billing-line {
			grid-template-columns: 51fr 18fr 31fr;
			&_item {
				&:nth-child(1) {
					padding-right: 11%;
				}
				&:nth-child(2) {
					padding-right: 10%;
				}
				&:nth-child(3) {
					padding-left: 7.5%;
				}
			}
		}
		.information-line1 {
			grid-template-columns: 51fr 49fr;
			&_item {
				&:nth-child(1) {
					padding-right: 11%;
				}
				&:nth-child(2) {
					padding-left: 0%;
				}
			}
		}
		.information-line2 {
			grid-template-columns: 65fr 35fr 0;
			&_item {
				&:nth-child(1) {
					padding-right: 11%;
				}
				&:nth-child(2) {
					padding-left: 19%;
				}
			}
			@include sm {
				grid-template-columns: 36fr 23fr 55fr;
				&_item {
					&:nth-child(1) {
						padding-right: 14%;
					}
					&:nth-child(2) {
						padding-left: 14%;
					}
				}
			}
		}
	}
	.md-hidden {
		@include md {
			display: none;
		}
	}
	.show-desktop {
		display: block;
		@include sm {
			display: none;
		}
	}
	.show-mobile {
		display: none;
		@include sm {
			display: block;
		}
	}

	/*--------------------------------------------------------------------------------------------------------------------------------
     PAYMENT PAGE - ORDER BLOCK
     -------------------------------------------------------------------------------------------------------------------------------*/
	&_orders {
		border: 1px solid rgba(255, 255, 255, 0.1);
		padding: 32px;

		@include xl {
			padding: 25px;
		}
		@include md {
			margin-bottom: 85px;
		}
		@include sm {
			padding: 25px 43px 25px 28px;
		}

		h4 {
			text-align: center;
			padding-top: 6px;
			margin-bottom: 36px;
			@include xl {
				margin-bottom: 31px;
			}
			@include sm {
				padding-top: 0;
				margin-bottom: 22px;
			}
		}

		.orders {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			gap: 50px;

			padding-bottom: 36px;
			border-bottom: 1px solid rgba(255, 255, 255, 0.1);

			@include xl {
				gap: 39px;
				padding-bottom: 31px;
			}
			@include sm {
				gap: 36px;
				padding-bottom: 30px;
			}
			&-item {
				display: flex;

				@include xl {
				}
				@include sm {
				}

				&_image {
					width: 94px;
					height: 93px;
					justify-self: flex-start;
					flex-shrink: 0;
					@include xl {
						width: 75px;
						height: 75px;
					}
				}
				&_content {
					display: block;
					flex-grow: 1;
					padding-inline: 32px;
					&:hover {
						cursor: pointer;
						h3,
						p {
							color: var(--color-hover);
						}
					}

					@include xl {
						padding-inline: 23px;
					}

					h3 {
						font-family: var(--font-main);
						font-weight: 400;
						font-size: 16px;
						line-height: 133%;
						color: rgba(255, 255, 255, 0.87);
						transition: all 0.3s ease-in-out;

						@include xl {
							font-size: 12px;
						}
					}

					p {
						font-style: italic;
						font-weight: 400;
						font-size: 14px;
						color: rgba(255, 255, 255, 0.68);
						transition: all 0.3s ease-in-out;

						@include xl {
							font-size: 10px;
						}
						padding-top: 3px;
					}
				}
				&_price {
					justify-self: flex-end;
					text-align: right;

					span {
						position: relative;
						top: -10px;
						display: block;
						font-family: var(--font-title);
						font-weight: 400;
						font-size: 24px;
						line-height: 133%;
						color: rgba(255, 255, 255, 0.87);
						@include xl {
							font-size: 18px;
						}
					}
				}
			}
		}
		// Totals items
		.totals {
			padding-top: 44px;
			margin-bottom: 15px;

			@include xl {
				padding-top: 38px;
				margin-bottom: 11px;
			}

			@include sm {
				padding-top: 32px;
				margin-bottom: 0;
			}

			&-item {
				display: flex;
				align-items: center;
				justify-content: space-between;

				&:last-child {
					padding-top: 17px;
				}

				@include xl {
					&:last-child {
						padding-top: 12px;
					}
				}

				&_desc {
					width: 70%;
					font-size: 14px;

					padding-left: 20%;
					&:not(:last-child) {
						margin-bottom: 10px;
					}

					@include xl {
						width: 65%;

						font-size: 12px;
						&:not(:last-child) {
							margin-bottom: 8px;
						}
					}
					@include sm {
						padding-left: 64px;
					}
					@media (max-width: 375px) {
						padding-left: 36px;
					}
				}
				&_value {
					width: 30%;
					font-size: 14px;
					@include xl {
						width: 35%;
						font-size: 12px;
					}
				}
			}
		}
	}
}
