/*-------------------------------------------------------------------------------------------------------------------------------------
SECTION SHOP - LABEL
--------------------------------------------------------------------------------------------------------------------------------------*/

.shop-label {
	position: relative;
	margin-inline: auto;

	margin-bottom: 95px;	

	@include xxl {
		max-inline-size: 1200px;
		height: 540px;
	}
	@include xl {
		margin-bottom: 75px;
		max-inline-size: 962px;
		height: 433px;

		display: flex;
		flex-direction: column;
		justify-content: flex-end;

		padding-bottom: 62px;
	}
	@include sm {
		margin-bottom: 84px;

		max-inline-size: 410px;
		height: 571px;
	}

	&_image-desktop,
	&_image-tablet,
	&_image-mobile {
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: none;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 100% 0;

		border: 1px solid rgb(92, 92, 92, 0.5);
	}

	&_image-desktop {
		background-image: url("../../images/shop-page/desktop-shop.png");
		min-height: 540px;
		@media (min-width: 1200px) {
			display: block;
		}
	}

	&_image-tablet {
		background-image: url("../../images/shop-page/tablet-shop.png");
		min-height: 433px;
		@media (min-width: 576px) and (max-width: 1200px) {
			display: block;
		}
	}

	&_image-mobile {
		max-inline-size: 410px;
		background-image: url("../../images/shop-page/mobile-shop.png");
		min-height: 571px;
		background-position: 60% 0;
		@media (min-width: 0px) and (max-width: 576px) {
			display: block;
		}
	}

	&_title {
		display: none;

		@include xl {
			display: block;
			span {
				font-weight: 500;
				font-size: 60px;
				line-height: 97%;
			}
		}
		@include md {
			span {
				font-size: 40px;
			}
		}

		@media (max-width: 420px) {
			span {
				font-size: 32px;
			}
		}
	}
}

/*-------------------------------------------------------------------------------------------------------------------------------------
SECTION SHOP - PRODUCTS
--------------------------------------------------------------------------------------------------------------------------------------*/
.shop-products {

	// Filter elemenet
	&_filter {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		padding: 0 52px;

        margin-bottom: 25px;
        @include xl{
            margin-bottom: 55px;
        }

        @include sm{
            padding:0;
            margin-bottom: 20px;
        }

		button {			
			font-weight: 400;
			font-size: 20px;
			line-height: 133%;			
			color: var(--color-white);   
            @include sm{
                font-size: 16px;
            }        
		}
	}
}
