/* ------------------------------------------------------------------------------------------------------------------------------
ROOT
--------------------------------------------------------------------------------------------------------------------------------*/

:root {	
	--font-main: "Montserrat", sans-serif;
	--font-title: 'Cormorant', sans-serif;	


	--color-white: #fff;
	--color-bg: #040302;
	--color-hover: rgb(190, 156, 75);

	--color-spot: rgb(243, 188, 126);
	--color-spot-bg: rgba(195, 105, 32, 0.08) ;

	--scrollbar: transparent;
	--scrollbar-track: rgb(0,0,0,0.25);
	--scrollbar-thumb: rgb(190, 156, 75,0.25);
	
	--transition: 0.3s ease-in-out;
	--radius: 0;

	--shadow: 0 0 2px 4px rgb(0, 0, 255, 0.35);
	--shadow-hover: 0 0 5px 0 #{rgba(#000, 10%)},
	0 0 10px 0 #{rgba(#000, 10%)},
	0 0 15px 0 #{rgba(#000, 10%)};
}