/* ------------------------------------------------------------------------------------------------------------------------------
TYPOGRAPHY
--------------------------------------------------------------------------------------------------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-title);
	color: var(--color-white);
}

[class*="_mytitle"] {
	font-family: var(--font-title);
	font-weight: 600;
	font-size: 40px;
	line-height: 120%;
	color: var(--color-white);
	@include xl {
		font-size: 36px;
	}
	@include sm{
		line-height: 144%;
	}
}

p {
	font-weight: 400;
	font-size: 14px;
	line-height: 133%;
	color: var(--color-white-gr);
	@include xl {
		font-size: 12px;
	}
}

h1,
h2 {
	font-weight: 600;
	font-size: 40px;
	line-height: 120%;
	@include xl {
		font-size: 36px;
	}
}
h2 {
	font-weight: 600;
	font-size: 40px;
	line-height: 120%;
	@include xl {
		font-size: 36px;
	}
}

h3 {
	font-weight: 700;
	font-size: 36px;
	line-height: 120%;
	@include xl {
		font-size: 30px;
	}
}
h4 {	
	font-weight: 700;
	font-size: 24px;
	line-height: 120%;
	@include xl{
		font-size: 22px;
	}
}
